<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}  {% endblock %}</title>
        {% block links %}  {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css' ) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css' ) }}">
    </head>
    <body>
        <main>
            <div class = "auth-container">
                <div class= "logo-wrapper">
                    <img class = "parent-width" src="{{ url_for('static', filename='images/logo.svg' ) }}" alt="">
                </div>
                {% block content %}  {% endblock %}
            </div>
            <div class= "auth-img-wrapper">
                <img class = "parent-height" src="{{ url_for('static', filename='images/auth_img.svg' ) }}" alt="">
            </div>
        </main>
        {% block scripts %}
            
        {% endblock %}
    </body>
</html>