<html>
<head>
    <meta charset="utf-8">
</head>

<body style="background-color: #ffffff; padding: 40px 20px; margin: 0; border: 1px solid rgba(37, 42, 82, 0.4); border-radius: 12px;">

    
    <div style="max-width: 546px; margin: 0 auto; background-color: #ffffff; padding: 24px; box-sizing: border-box;">
        
        
        <h2 style="font-family: Arial, sans-serif; font-size: 28px; font-weight: bold; text-align: left; margin-top: 0; margin-bottom: 24px; color: #0b0f19;">
            Вас вітає команда World IT !
        </h2>
        
        
        <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; text-align: left; margin-top: 0; margin-bottom: 24px; color: #333333;">
            Щоб завершити реєстрацію та переконатися, що саме ви є власником цієї електронної адреси, будь ласка, підтвердіть свою пошту.
        </p>
        
        
        <div style="margin-bottom: 24px;">
            <a href="{{ confirm_url }}" style="display: block; background-color: #0b0f19; color: #ffffff; padding: 6px 0; text-decoration:none; border-radius: 4px; font-weight: bold; font-family: Arial, sans-serif; font-size: 14px; text-align: center;">
                Підтвердити пошту
            </a>
        </div>
        
        
        <div style="text-align: center; margin-bottom: 24px;">
            <img src="cid:my_image_cid" alt="World IT Team" width="339" height="288">
        </div>

        
        <hr style="border: 0; border-top: 1px solid rgba(37, 42, 82, 0.2); margin-top: 0; margin-bottom: 24px;">
        
        
        <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; text-align: left; color: #555555;">
            <p>Якщо у вас виникнуть питання — ми завжди раді допомогти!</p>
            <p>З найкращими побажаннями, команда World IT Academy</p>
        </div>

    </div>
</body>
</html>