<div class="member-data-modal hidden">
    <div class="container-header">
        <img class="cross" src= "{{url_for('chat.static', filename = 'images/cross.svg')}}" alt="">
    </div>
    <div class="user-logo-container">
    </div>
    <div class="chat-member-credentials">
        <p class="chat-member-name copy-field">123</p>
        <p class="chat-member-username copy-field">123</p>
    </div>
    <div class="chat-member-details">
        <div class="details-field">
            <p class="details-header">Дата народження</p>
            <p class="member-birth-date copy-field">123</p>
        </div>
        <div class="details-field">
            <p class="details-header">Стать</p>
            <p class="member-gender copy-field"></p>
        </div>
    </div>
</div>